@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
   :root {
      --header-color: #000;
      --header-height: 48px;
   }

   * {
      box-sizing: border-box;
   }

   body {
      text-rendering: optimizeSpeed;
   }

   html {
      font-family: 'Poppins';
      font-family: 'Montserrat', sans-serif;
      padding: 0;
      margin: 0;
   }
   /* Header */
   .header-color {
      @apply bg-black;
   }
   .header-height {
      @apply h-12;
   }
   .text-color-header {
      @apply text-white;
   }
   .text-menu-color {
      @apply text-black;
   }

   /* Footer */
   /* Content footer*/
   .font-size-content-footer {
      @apply text-[13px];
   }
   .font-family-content-footer {
      @apply font-['Montserrat'];
   }

   /* Title footer*/
   .font-size-title-footer {
      @apply text-lg;
   }
   .font-family-title-footer {
      @apply font-['Poppins'];
   }
   .font-weight-title-footer {
      @apply font-semibold;
   }

   /* hover styles content footer*/
   .hover-styles-content-footer {
      @apply text-white hover:text-slate-300;
   }

   /* Banner styles */
   .banner-text {
      @apply text-white text-[120px] font-['Poppins'] font-bold leading-[120px]
   }

   /* Collection title */
   .collection-title {
      @apply text-[13px] uppercase font-normal		tracking-widest leading-[21px] font-['Montserrat'] text-[#3d3d3d]
   }
   .describe-title {
      @apply font-semibold font-['Poppins'] text-[38px] leading-[1.1em] text-black
   }

   /* Describe Designer */
   .describe-content {
      @apply text-[16px] leading-[26px] text-[#3d3d3d] font-normal font-['Montserrat']
   }
   .name-of-designer {
      @apply text-[16px] font-semibold	font-['Montserrat'] leading-[1.33em] text-black
   }
   .name-of-job {
      @apply text-[10px] uppercase font-normal tracking-[0.16em] leading-[21px] font-['Montserrat']
   }
}
